<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Pet Tests Suite" parallel="false">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <!-- Define a test -->
    <test name="Pets">
        <packages>
            <package name="PetStore.Pet"/>
        </packages>
    </test>

</suite>
